* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* Header Background Image */
header {
  background-image: url(images/Header\ High\ Res.jpg);
  height: 800px;
  background-repeat: no-repeat;
}

/* Header Background Text */
.div-header {
  float: right;
  text-align: right;
  margin: 200px 50px 0 50px;
}
.header-heading {
  color: #151414;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 15px;
}
.header-paragraph {
  font-size: 20px;
  line-height: 30px;
  color: #444343;
  margin-bottom: 50px;
}
.header-batton {
  background-color: #f15b22;
  width: 200px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border-radius: 7px;
}

/* Section One */
.section-one-img {
  display: flex;
  background-image: url(images/quran.jpg);
  background-repeat: no-repeat;
}
.mosque {
  width: 900px;
}
.section-one-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin: 300px 0 0 0;
}
.section-one-right{
  background-color: rgba(245, 246, 248, 0.8);
  text-align: left;
  padding: 50px 10px;
  width: 100%;
}
.section-one-paragraph{
  margin-top: 20px;
  line-height: 26px;
}
.section-one-txt{
 margin: 300px 0 0 300px;
}
.bismillah{
  text-decoration: underline;
  font-weight: 800;
}
.section-one-ul{
  margin-top: 15px;
  line-height: 26px;
  list-style-type: none;
}
li span {
  color: lightgreen;
  font-size: 18px;
  margin-right: 5px;
}