* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* Header Background Image */
header {
  background-image: url(images/Header\ High\ Res.jpg);
  height: 800px;
  background-repeat: no-repeat;
}

/* Header Background Text */
.div-header {
  float: right;
  text-align: right;
  margin: 200px 50px 0 50px;
}
.header-heading {
  color: #151414;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 15px;
}
.header-paragraph {
  font-size: 20px;
  line-height: 30px;
  color: #444343;
  margin-bottom: 50px;
}
.header-batton {
  background-color: #f15b22;
  width: 200px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border-radius: 7px;
}

/* Section One */
.ikhlas {
  display: flex;
  background-image: url(images/quran.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}
.mosque {
  width: 900px;
}
